.App {
	height: 100vh;
	display: flex;
	color: white;
}

.App_LeftMargin {
	width: 20%;
	background-color: #66DAC7;
}

.App_Form {
	width: 60%;
	background-color: #2E4158;
	padding: 25px 40px;
	overflow: hidden;
}

.App_RightMargin {
	width: 20%;
	background-color: #66DAC7;
}

.LandingPage {
	text-align: center;
	font-size: 200%;
	padding: 30px;
}

.blueText {
	color: #4885ed;
}

.redText {
	color: #db3236;
}

.redError {
	color: red;
}

.greenText {
	color: #3cba54;
}

.yellowText {
	color: #f4c20d;
}

.GetStarted {
	text-align: center;
	display: flex;
	justify-content: center;
	padding: 30px;
}

.GetStarted_Link {
	background-color: #5ED0C0;
	color: white;
	padding: 10px 20px;
	cursor: pointer;
	font-size: .9em;
	border: none;
	outline: none;
	display: inline-block;
	text-decoration: none;
	border-radius: 25px;
}

.PageSwitcher {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 5%;
}

.PageSwitcher_Item {
	background-color: #4C5D72;
	color: #9DA6B1;
	padding: 10px 20px;
	cursor: pointer;
	font-size: .9em;
	border: none;
	outline: none;
	display: inline-block;
	text-decoration: none;
}

.PageSwitcher_Item-Active {
	background-color: #5ED0C0;
	color: white;
}

.PageSwitcher_Item:first-child {
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}

.PageSwitcher_Item:last-child {
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

.FormCenter {
	margin-bottom: 100px;
}

.FormTitle {
	color: #707C8B;
	font-weight: 300;
	margin-bottom: 40px;
}

.FormTitle_Link {
	color: #707C8B;
	text-decoration: none;
	display: inline-block;
	font-size: 1.7em;
	margin: 0 10px;
	padding-bottom: 5px;
}

.FormTitle_Link:first-child {
	margin-left: 0;
}

.FormTitle_Link-Active {
	color: white;
	border-bottom: 1px solid #199087;
}

.FormField {
	margin-bottom: 40px;
}

.FormField_Label {
	display: block;
	text-transform: uppercase;
	font-size: .9em;
	color: white;
}

.FormField_LeftLabel {
	display: inline;
	text-transform: uppercase;
	font-size: .9em;
	color: white;
	text-align: left;
}

.FormField_RightLabel {
	display: inline;
	text-transform: uppercase;
	font-size: .9em;
	color: white;
}

.FormField_Input {
	width: 40%;
	background-color: transparent;
	border: none;
	color: white;
	outline: none;
	border-bottom: 1px solid #445366;
	font-size: 1em;
	font-weight: 300;
	padding-bottom: 10px;
	margin-top: 10px;
	position: relative;
}

.FormField_RightInput {
	left: 5%;
}

.FormField_SignIn {
	width: 80%;
}

.FormField_Input::placeholder {
	color: #616E7F;
}

.FormField_LastName {
	position: relative;
	left: 35.3%;
}

.FormField_Email {
	position: relative;
	left: 36.1%;
}

.FormField_ConfirmPW {
	position: relative;
	left: 36.12%;
}

.FormField_Button {
	background-color: #52C4B9;
	color: white;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 25px;
	padding: 15px 70px;
	font-size: .8em;
	font-weight: 500;
}

.FormField_Link {
	color: #66707D;
	text-decoration: none;
	display: inline-block;
	border-bottom: 1.5px solid #225E62;
	padding-bottom: 5px;
}

.FormField_CheckboxLabel {
	color: #646F7D;
	font-size: .9em;
}

.FormField_Checkbox {
	position: relative;
	top: 1.5px;
}

.FormField_TermsLink {
	color: white;
	border-bottom: 1px solid #199087;
	text-decoration: none;
	display: inline-block;
	padding-bottom: 2px;
	margin-left: 5px;
}