.App {
	height: 100vh;
	width: 100vw;
}

.Logo {
	position: absolute;
	margin-left: 0.5%;
	margin-top: 0.5%;
	animation: slidein 0.5s;
	animation-timing-function: ease-in;
}

.landing-page,
.sign-in-page,
.register-page,
.search-page {
	background-image: url('/static/images/cityscape.jpg');
	background-size: cover;
	background-position-y: 50%;
	background-repeat: no-repeat;
	background-attachment: scroll;
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.landing-page {
	flex-direction: column;
}

.landing-page h1 {
	font-size: 4rem;
}

<<<<<<< .merge_file_eXgUGm
.HomePage {
	position: relative;
	width: 100%;
	text-align: center;
	font-size: 160%;
	overflow: hidden;
	animation: fadein 2s;
}

.HomePage_Center {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	height: 760px;
	width: 20%;
}

.blueText {
=======
.landing-page .blueText {
>>>>>>> .merge_file_fDpgGl
	color: #4885ed;
}

.landing-page .redText {
	color: #db3236;
}

.landing-page .greenText {
	color: #3cba54;
}

.landing-page .yellowText {
	color: #f4c20d;
}

.landing-page-slide {
	animation: slidein 0.5s;
	animation-timing-function: ease-in;
}

.sign-in-page .sign-in-paper {
	width: 40%;
	padding: 50px;
}

.sign-in-page .sign-in-paper h1 {
	margin: 0;
}

.sign-in-page .sign-in-paper .sign-in-submit-button {
	margin-top: 15px;
	width: 100%;
}

.register-page .register-paper {
	width: 40%;
	padding: 50px;
}

.register-page .register-paper h1 {
	margin: 0;
}

.register-page .register-paper .register-submit-button {
	margin-top: 15px;
	width: 100%;
}

.search-page {
	height: 100%;
	flex-direction: column;
}

.search-page .search-page-input {
	width: 40%;
	color: white;
}

.search-page .search-page-candidates {
	width: 40%;
}

<<<<<<< .merge_file_eXgUGm
.FormField_40 {
	width: 50%;
	margin-left: 25%;
}

.FormField_Label {
=======
.search-page .search-page-candidate {
>>>>>>> .merge_file_fDpgGl
	display: block;
	margin: 30px auto;
	width: 75%;
}

.redError {
	color: red;
}

.GetStarted_Link {
	background-color: #4285f4;
	color: white;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 0.9em;
	border: none;
	outline: none;
	display: inline;
	text-decoration: none;
	border-radius: 25px;
	animation: fadein-delay 3.5s;
}

.FormCenter {
	margin-bottom: 100px;
}

.FormTitle {
	color: #707c8b;
	font-weight: 300;
	margin-bottom: 40px;
}

.FormTitle_Link {
	color: #707c8b;
	text-decoration: none;
	display: inline-block;
	font-size: 1.7em;
	margin: 0 10px;
	padding-bottom: 5px;
}

.FormTitle_Link:first-child {
	margin-left: 0;
}

.FormTitle_Link-Active {
	color: white;
	border-bottom: 1px solid #2258b5;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadein-delay {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 100;
	}
}

@keyframes slidein {
	from {
		opacity: 0;
		transform: translateY(-100px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes slidein-delay {
	0% {
		opacity: 0;
		transform: translateY(-100px);
	}
	50% {
		opacity: 0;
		transform: translateY(-100px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
